################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/asnan-Bookstore/.vs/asnan-Bookstore/v16
/asnan-Bookstore/asnan-Bookstore/obj
